# Dependency directories
node_modules/

# Environment files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build files
build/
dist/
out/
coverage/

# Cache and logs
.cache/
logs/
npm-debug.log*

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
